@use '../../styles/colors.scss' as *;
@use '../../styles/mixins.scss' as *;

.formContainer {
	max-width: 100%;
	h2 {
		font-size: 2rem;
		margin-bottom: 20px;
	}
}

.searchForm {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr)); 
	gap: 20px;
	max-width: 100%;

	background-color: $background-color;
	color: $text-color;
	padding: 20px;
	border-radius: 8px;

	.formGroup1, .formGroup2, .formGroup3, .formGroup4, .formGroup5 {
		display: flex;
		flex-direction: column;

		align-items: center;

		margin-bottom: 15px;
		gap: 10px;

		input,
		select {
			padding: 10px;
			font-size: 1.6rem;
			font-weight: bold;
			border-radius: 4px;
			background-color: $background-color-darker;
			color: $text-color;
			border: none;
			max-width: 100%;

			&:focus {
				outline: none;
			}

			&::placeholder {
				font-size: 1.3rem;
				font-weight: lighter;
				color: $text-color-placeholder;
			}
		}

		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			margin: 0; 
		}

	}

	.formGroup1 { grid-column: 1/ span 2; }
	.formGroup2 { grid-column: 3/ span 2; }
	.formGroup3 { grid-column: 1/ span 1; }
	.formGroup4 { grid-column: 2/ span 1; }
	.formGroup5 { grid-column: 3/ span 1; }
	// .formActions { grid-column: 2 / span 2; }

	.formActions {
		display: flex;
		flex-direction: column;

		.btnReset,
		.btnSubmit {
			font-size: 1.6rem;
			padding: 10px 15px;
			height: 100%;;
			border: none;
			border-radius: 4px;
			color: $text-color;
			cursor: pointer;

			&.btnReset {
				@include hover-background;
				font-weight: lighter;
				background-color: $accent-color;
				margin-bottom: 5px;
			}

			&.btnSubmit {
				@include hover-background-complementary;
				font-weight: lighter;
				background-color: $complementary-color;
				margin-top: 5px;
			}
		}
	}
}

.sortContainer {
	font-family: inherit;
	margin-top: 15px;
	color: $text-color;
	max-width: 200px;
}

.container, .containerFocused {
	max-width: 100%;
    width: 100%;
    margin: 0;
	// border: 1px solid $black-color;
}

.control {
	background-color: $background-color;
	border-radius: 8px;
    padding: 0 10px
}

.option, .noOptionsMessage {
	background-color: $background-color;
	padding: 10px;
	
	&:hover {
		background-color: $accent-color-hover;
	}
}

.valueContainer {
    font-size: 1.3rem;
    font-family: system-ui;
	background-color: $background-color;
	color: $text-color;

	// border-radius: 4px;
	padding: 10px;

	&:focus {
		outline: none;
	}
}

.menuList {
	margin: 0;
	width: 100%;
	scrollbar-width: none;

	border-radius: 8px;
}

.placeholder {
    font-weight: lighter;
    background-color: none;
    color: $text-color-placeholder;
}


