@use '../../styles/colors.scss' as *;

.chatContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chatNameContainer {
    display: flex;
    align-items: center;
    margin: 0 20px;

    h1 {
        margin: 15px 0;
        padding-right: 20px;
        border-right: 1px solid $black-color;
        font-size: 1.5rem;
    }

    a {
        margin-left: 20px;
        font-size: 1.5rem;
        text-decoration: none;
        color: $accent-color;

        &:hover{
            color: $complementary-color;
            transition: .2s ease;
        }
    }

    box-shadow: 0 5px 3px $background-color;
    border-bottom: 1px solid $black-color;
}

.messagesContainer {
    z-index: 0;
    flex: 1; 
    overflow-y: auto; 


}

.inputContainer {
    border-top: 1px solid $black-color;
    width: 100%;
    max-height: fit-content;
    padding: 0 10px;
}