@use '../../styles/colors.scss' as *;

.messageWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.messageWindowContainer {
    position: relative;
    background-color: $background-color-darker; 
    min-width: 400px;
    min-height: fit-content;
    padding: 20px; 
    border: 1px solid $accent-color;
    border-radius: 2px; 
    z-index: 1001; // Ensure it appears above the semi-transparent background
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.inputContainer {
    margin-top: 20px;
    width: 100%;
}