@use '../../styles/colors.scss' as *;

.profileContainer{
    h1 {
        text-align: left;
        font-size: 2.3rem;
        margin: 20px 0;
    }
}

.editLink{
    font-size: 1.3rem;
    color: $accent-color;
    text-decoration: none;
}

.postingHeadingAndLink {
    display: flex;
    align-items: center;
    
    .separator {
        margin: 0 10px; 
        font-size: 2.3rem; 
    }

    a {
        font-size: 2.3rem;
        color: $accent-color;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline; 
        }
    }
    
}

