@use '../../styles/colors.scss' as *;


.chatPreviewContainer {
    display: flex;
    cursor: pointer;
    padding: 10px;
    min-width: 20vw;
    max-width: 30vw;

    &:hover {
        background-color: $background-color-darker;
    }

    figure {
        min-width: 50px;              
        min-height: 50px;    
        max-width: 50px;        
        max-height: 50px;
        overflow: hidden;          
        display: flex;             
        justify-content: center;   
        align-items: center;       
    }
    
    img {
        width: 100%;              
        height: auto;             
        max-height: 100%;         
        object-fit: cover;        
    }
}

.selected {
    background-color: $background-color-darker;
}

.nameAndContentContainer {
    margin-left: 20px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 

    h1 {
        font-size: 1.2rem;
    }

    p {
        text-align: left;
    }   
}