$background-color: #292733;
$background-color: #ffffff;

$background-color-darker: #1c1b24;
$background-color-darker: #f6f6f6;

$accent-color: #dc3545;
$complementary-color: #B81929;
// $accent-color: #dc3545;

$black-color: black;

$text-color: #ffffff;
$text-color: black;

$box-shadow-color: rgba(0, 0, 0, 0.35);