@use '../../styles/colors.scss' as *;

.card {
    width: 100%; 
    padding: 0; 
    margin-bottom: 20px;
    height: 100%;
    background-color: $background-color-darker;
    border-radius: 15px;
  
    img {
      width: 100%; 
      height: auto; 
      aspect-ratio: 5/3;
      object-fit: cover;
      
      border-radius: 15px 15px 0 0;
    }
  
    .descriptionContainer, a {
      color: #000;
      margin: 0; 
      padding: 0 20px;
      text-decoration: none;
      
      &:hover {
        cursor: pointer;
        color: $accent-color;
        transition: .25s ease-in;
      }
      
      h1 {
        font-weight: bold;
        margin-bottom: 0;
        font-size: 1.4rem;
      }

      .source {
        color: #dc3545;
      }
    }
    
    &:hover {
      scale: 101%;
      transition: 0.25s ease-in-out;
      // background-color: $background-color-darker-hover;
    }
  }