@use '../../styles/colors.scss' as c;
@use '../../styles/mixins.scss' as m;

.loginFormContainer, .registerFormContainer {
    @include m.box-shadow;

    width: 50%;
    margin: auto;
    max-width: 320px;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    a {
        text-decoration: none;
        color: c.$accent-color;
    }

    input {
        font-size: 1.3rem;
        border: none;
        min-height: 50px;
        margin: 10px;
        padding-left: 15px;
        background-color: red ;
    
        &:focus{
            outline: none;
        }
    }
}

.loginForm, .registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center; /* Центрирует по вертикали */
    padding: 20px;
    border: 2px solid c.$accent-color;
}

.error {
    margin-top: 20px;
    padding: 10px;
    background-color: c.$accent-color;
    color: white;
}

.submitButton {
    background-color: c.$accent-color;
    width: 100%;
    color: white;
    margin: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: inherit;

    &:hover {
        transform: scale(102%);
        transition: .5s ease;
    }
}

.heading {
    color: c.$accent-color;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 10px;
}
