@use '../../styles/colors.scss' as *;

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        margin-right: 10px;
    }
}

.content {
    font-size: .9rem;
    display: none;
    position: absolute;
    top: 50px;
    padding: 10px;
    min-width: max-content;
    background-color: $background-color;
    border: 1px solid $accent-color;
    border-radius: 5px;
    box-shadow: 4px 4px $box-shadow-color;
    z-index: 1;

    &::before{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        top: -10px;
        left: 40%;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $accent-color transparent;
    }

    a {
        color: black;
        padding: 5px 5px;
        text-decoration: none;
        display: block;
        font-weight: 400;

        &:hover {
            transform: scale(1.01);
            transition: .25s ease;
        }
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

.container:hover .content {
    display: flex;
    flex-direction: column;
}


.profilePicture {
    img {
        max-width: 40px;
        min-width: 40px;
        max-height: 40px;
        min-height: 40px;
        object-fit: cover;
        border-radius: 100%;
        aspect-ratio: 1/1;
    }
}
